**/bin/
**/obj/
.idea/
.vs/
.vscode/
*.user
*.suo
*.cache
*.log
publish/
artifacts/
.packages/
.packages-feed/
NuGet.Offline.Config
samples/NonetMusicPlayer.LyricsTimingPlugin/dist/
**/.gradle/
**/build/
**/local.properties
**/.kotlin/
*.jks
*.keystore

